@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

body {
  background: #833ab4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.App {
  font-family: Poppins, sans-serif;
  text-align: center;
  color: rgb(255, 255, 255);
}
.h1 {
  /* border: 12px; */
  background: #ff4b1f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff9068,
    #ff4b1f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff9068,
    #ff4b1f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.Glass1 {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  overflow: scroll;
  height: 400px;
}
.Select {
  color: #6dd5ed;
  border-radius: 12px;
  /* margin-top: 10px; */
}
.Select1 {
  color: #6dd5ed;
  border-radius: 12px;
  top: 10px;
}
.box {
  display: flex;
}
/* .load b {
  color: "#833ab4";
} */
